<div class="row marketing">

    <button type="button" class="btn btn-default" ng-click="isEditingRequirementsCollapsed = !isEditingRequirementsCollapsed"
            ng-init="isEditingRequirementsCollapsed = true">
        Edit requirements
    </button>
    <hr>
    <div uib-collapse="isEditingRequirementsCollapsed" class="well">
        <editable-table nodes="requirements" pre-create="extendRequirement(node)"></editable-table>
    </div>
    <br>


    <button type="button" class="btn btn-default" ng-click="isEditingNodesCollapsed = !isEditingNodesCollapsed"
            ng-init="isEditingNodesCollapsed = true">
        Edit nodes
    </button>
    <hr>
    <div uib-collapse="isEditingNodesCollapsed" class="well">
        <editable-table nodes="nodes" on-create="createNode(node)" on-update="updateNode(node)" on-delete="deleteNode(node)"></editable-table>
    </div>

    <br>

    <uib-tabset active="active">
        <uib-tab ng-repeat="req in requirements track by req.id" index="$index" heading="{{req.label}}">

            <br>

            <table class="table">
                <thead>
                <th></th>
                <th ng-repeat="node in nodes track by node.id">{{node.label}}</th>
                </thead>
                <tbody>
                <tr ng-repeat="node in nodes track by node.id">
                    <td>{{node.label}}</td>
                    <td ng-repeat="node2 in nodes track by node2.id">
                        <input type="checkbox" ng-model="req.edges[node.id][node2.id]"
                               name="{{node.id + '' + node2.id}}" ng-change="ticked(node.id, node2.id, req)">
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>Graph</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <vis-network nodes="req.nodeDataSet" edges="req.edgeDataSet" options="networkOptions" id="previewNetwork-{{req.id}}">
                    </vis-network>
                </div>
            </div>

            <h3>Matrix</h3>

            <table class="table">
                <thead>
                <th></th>
                <th ng-repeat="node in req.nodeDataSet._data track by node.id">{{node.label}}</th>
                </thead>
                <tbody>
                <tr ng-repeat="node in req.nodeDataSet._data track by node.id">
                    <td>{{node.label}}</td>
                    <td ng-repeat="node2 in req.nodeDataSet._data track by node2.id">
                        {{req.edges[node.id][node2.id] ? '1' : '0'}}
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>Reachability matrix</h3>

            <table class="table">
                <thead>
                <th></th>
                <th ng-repeat="node in req.nodeDataSet._data track by node.id">{{node.label}}</th>
                </thead>
                <tbody>
                <tr ng-repeat="node in req.nodeDataSet._data track by $index" ng-init="node1Index = $index">
                    <td>{{node.label}}</td>
                    <td ng-repeat="node2 in req.nodeDataSet._data track by $index" ng-init="node2Index = $index">
                        {{req.reachabilityMatrix[node1Index][node2Index]}}
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>Precedent set</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-repeat="node in req.nodeDataSet._data track by $index" ng-init="index = $index">
                        C{{req.id}}({{node.label}}) = {{req.formattedPrecedentSet[index]}}
                    </p>
                </div>
            </div>


            <h3>Reachability set</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-repeat="node in req.nodeDataSet._data track by $index" ng-init="index = $index">
                        F{{req.id}}({{node.label}}) = {{req.formattedReachabilitySet[index]}}
                    </p>
                </div>
            </div>

            <h3>Information elements</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>D{{req.id}}f={{req.formattedInformationalElements}}</p>
                </div>
            </div>
            <h3>Information group</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>D{{req.id}}g={{req.formattedInformationalGroups}}</p>
                </div>
            </div>


            <h3>Hierarchy level</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-repeat="node in req.informationalGroups track by $index" ng-init="index = $index">
                        Node ({{node.label}}) is a P{{req.groupLevels[index].level}} hierarchy level group
                    </p>
                </div>
            </div>


            <h3>Informational structure</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-repeat="node in req.informationalGroups track by $index" ng-init="index = $index">
                        H({{node.label}}) = {{_.map(req.informationalStructure[index], _.property('label'))}}
                    </p>
                </div>
            </div>

            <h3>Deduplicated Graph</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <vis-network nodes="req.nodeDataSet" edges="req.deduplicatedEdgeDataSet" options="networkOptions"
                                 id="deduplicatedNetwork-{{req.id}}">
                    </vis-network>
                </div>
            </div>

            <h3>Deduplicated Matrix</h3>

            <table class="table">
                <thead>
                <th></th>
                <th ng-repeat="node in req.nodeDataSet._data track by node.id">{{node.label}}</th>
                </thead>
                <tbody>
                <tr ng-repeat="node in req.nodeDataSet._data track by $index" ng-init="node1Index = $index">
                    <td>{{node.label}}</td>
                    <td ng-repeat="node2 in req.nodeDataSet._data track by $index" ng-init="node2Index = $index">
                        {{req.deduplicatedMatrix[node1Index][node2Index]}}
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>Duplicate edges removed</h3>
            <ol>
               <li ng-repeat="edge in req.duplicateEdges">From: {{edge.from}} to {{edge.to}}</li>
            </ol>

        </uib-tab>
    </uib-tabset>


</div>
