<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>


    <editable-table nodes="nodes" on-create="networkData.nodes.add(node)" on-delete="networkData.nodes.remove(node)"
                    on-update="networkData.nodes.update(node)"></editable-table>


    <table class="table">
        <thead>
        <th></th>
        <th ng-repeat="node in nodes track by node.id">{{node.label}}</th>
        </thead>
        <tbody>
        <tr ng-repeat="node in nodes track by node.id">
            <td>{{node.label}}</td>
            <td ng-repeat="node2 in nodes track by node2.id">
                <input
                        type="checkbox"
                        ng-model="edges[node.id][node2.id]"
                        name="{{node.id + '' + node2.id}}"
                        ng-change="ticked(node.id, node2.id)"
                >
            </td>

        </tr>
        </tbody>
    </table>

    <div class="panel panel-default">
        <div class="panel-body">
            <vis-network ng-model="networkData" options="networkOptions" id="previewNetwork">
            </vis-network>
        </div>
    </div>


</div>
